.wrapper {
  margin-top: 5%;
  width: 100%;
  min-height: 300px;
  background: burlywood;
  margin-bottom: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 80vh;
  overflow: hidden;
  position: relative;

  .line {
    width: 100%;
    height: 2px;
    background: #0c0c0c24;
    margin: 1rem 0;
  }
  .title {
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    position: relative;
    height: 50px;
    input {
      outline: none;
      border: 0;
      background: transparent;
      font-size: 2rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      width: 80%;
    }
    .badge {
      margin-right: 1rem;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: grey;
    }
    svg {
      margin-right: 1rem;
      transform: translateY(4px);
    }
    .btn {
      position: absolute;
      right: 0%;
      display: flex;
      justify-content: center;
      align-self: center;
      color: black;
      cursor: pointer;
      opacity: 0.4;
      transition: 0.3s ease-in-out;
      &::before {
        content: "";
        border-radius: 5px;
        background: grey;
        font-size: 16px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 105%;
        top: 14%;
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
      &:hover::before {
        content: "Редактировать";
        padding: 5px;
      }
    }
  }
  .btnAddTodo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    // flex-direction: column;
    input {
      outline: none;
      border: 0;
      background: transparent;
      font-size: 1.4rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      width: 40%;
      padding: 10px;
      border: 1px solid white;
      border-radius: 10px;
    }
    span {
      padding: 10px 20px;
      background: rgb(23, 235, 69);
      color: white;
      border-radius: 10px;
      cursor: pointer;
      margin-left: 1rem;
      svg {
        margin-right: 1rem;
      }
    }
  }
  .containerTodo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    .item {
      font-size: 20px;
      display: flex;
      align-items: center;
      margin: 1rem 0;
      margin-left: 2rem;
      .windowInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.274);
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapperInput {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          background: white;
          border-radius: 10px;
          input {
            outline: none;
            border: 0;
            background: transparent;
            font-size: 1.2rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
          }
          .windowSubmit {
            margin-right: 1rem;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            background: rgb(88, 241, 88);
          }
        }
      }
      svg {
        margin-left: 1rem;
        cursor: pointer;
      }
      .wrapperText {
        display: flex;
        background: white;
        padding: 5px 15px;
        border-radius: 10px;
        transition: 0.3s ease-in-out;
        svg {
          margin-left: auto;
        }
        &.active {
          width: 80%;
        }
        div {
          display: flex;
          align-items: center;
        }
        input {
          outline: none;
          border: 0;
          background: transparent;
          font-size: 20px;
          font-weight: 500;
          display: flex;
          align-items: center;
          width: 100%;
        }
        div {
          margin-right: 1rem;
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.submitBtn {
  position: absolute;
  bottom: 8%;
  right: 8%;
  padding: 10px;
  background: cyan;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 10px;
}
